{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main py-4">
        <div class="row">
            <div class="col-12">
                <h4>Sitios de interes:</h4>
                <ul class="list-inline links">
                    <li class="list-inline-item"><a href="https://ipc.onei.gob.cu/IPCuba4/seguridad/autenticacion.php"
                                                    target="_blank">IPC</a></li>
                    <li class="list-inline-item"><a href="http://sigeviejo.hg.onei.cu/patdsi3.php/menu/indexTest/"
                                                    target="_blank">SIGE 2</a></li>
                    <li class="list-inline-item"><a href="https://pentaho.onei.gob.cu" target="_blank">PENTAHO</a></li>
                    <li class="list-inline-item"><a href="https://sipac.onei.gob.cu" target="_blank">SIPAC</a></li>
                    <li class="list-inline-item"><a href="http://www.onei.gob.cu/" target="_blank">Sitio Nacional
                            ONEi</a></li>
                    <li class="list-inline-item">
                        <a href="https://combustible.onei.gob.cu/" target="_blank">Sistema
                            Control Combustible
                        </a>
                    </li>

                    <li class="list-inline-item"><a href="https://electricidad.onei.gob.cu\" target="_blank">Consumo
                            Eléctrico</a>
                    </li>
                    <li class="list-inline-item"><a
                                href="http://redatam.onei.gob.cu/redbin/RpWebEngine.exe/Portal?BASE=SISTCUBA&lang=esp"
                                target="_blank">SICDem</a></li>
                </ul>
            </div>

            <div class="col-12">
                <h5>Nuevos:</h5>
                <ul class="list-inline links">
                    <li class="list-inline-item"><a href="https://adselfservice.onei.gob.cu\" target="_blank">Cambio de
                            contraseña</a></li>
                    <li class="list-inline-item"><a href="http://mp3.hg.onei.cu/" target="_blank">Mp3</a></li>
                    <li class="list-inline-item"><a href="http://kiwix.hg.onei.cu/" target="_blank">Wikipedia</a></li>
                </ul>
            </div>

            <div class="col-12">
                <h5>Otros:</h5>
                <ul class="list-inline links">
                    <li class="list-inline-item"><a href="http://www.ahora.cu/" target="_blank">Ahora</a></li>
                    <li class="list-inline-item"><a href="http://www.cubadebate.cu/" target="_blank">Cubadebate</a></li>
                    <li class="list-inline-item"><a href="http://www.cucert.cu/" target="_blank">CuCERT</a></li>
                    <li class="list-inline-item">
                        <a href="https://www.ecured.cu/EcuRed:Enciclopedia_cubana/" target="_blank">
                            EcuRed Enciclopedia Cubana
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="http://granma.cu/" target="_blank">Granma</a></li>
                    <li class="list-inline-item">
                        <a href="http://www.juventudrebelde.cu/" target="_blank">
                            Juventud Rebelde
                        </a>
                    </li>
                    <li class="list-inline-item"><a href="http://www.bohemia.cu/" target="_blank">Revista Bohemia</a>
                    </li>
                    <li class="list-inline-item"><a href="http://www.trabajadores.cu/" target="_blank">Trabajadores</a>
                    </li>

                    <li class="list-inline-item"><a href="http://efemerides.cuba.cu/" target="_blank">Efemérides</a>
                    </li>
                    <li class="list-inline-item"><a href="http://tiempo.cuba.cu/" target="_blank">El Tiempo</a></li>
                    <li class="list-inline-item"><a href="http://postales.cuba.cu/" target="_blank">Postales</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}